[Unit]
Description=D-Bus System Message Bus Socket

[Socket]
ListenStream=/home/build/inkbox/compiled-binaries/arm-kobo-linux-gnueabihf/arm-kobo-linux-gnueabihf/sysroot/var/run/dbus/system_bus_socket
