[D-BUS Service]
Name=com.example.ReceiveDeniedByAppArmorLabel
Exec=/bin/false ReceiveDeniedByAppArmorLabel
SystemdService=dbus-com.example.ReceiveDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/mnt/HDD/Project/Public/okulartry/dbus/test/test-apparmor-activation//com.example.ReceiveDeniedByAppArmorLabel
